.editor{
    flex: 1;
    position: relative;
    overflow: hidden;
    background-color: var(--CLOUDS);
    #Estimate{
        position: absolute;
        right: 0;
        top: 0;
    }
    .controller{
        position: absolute;
        right: 10px;
        top: 10%;
        display: flex;
        flex-direction: column;
        z-index: 4;
        .btn{
            width: 54px;
            height: 50px;
            background-color:var(--MIDNIGHTBLUE);
            color: var(--Faded);
            border: 0;
            outline: 0;
            border-radius: 0;
            &:hover{
                opacity: 0.8;
            }
        }
        .btn-zoomin{
            margin-bottom: 1px;
        }
        .status{
            text-align: center;
            text-transform: uppercase;
            padding: 5px 0 ;
            font-size: 12px;
            color: var(--Faded);
            background-color: var(--WETASPHALT);
        }

        .btn-measurements.active{
            color: var(--POMEGRANATE);
        }
    }
    .wrapper{
        position: absolute;
        height: 100%;
        width: auto;
        left: 50%;
        top: 50%;
        cursor: move;
        transform: translate(-50%,-50%);
        z-index: 2;
        .floor{
            height: 100%;
            width: auto;
            position: relative;
            img{
                height: 100%;
                width: auto;
            }
            .options{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 2;
                .option-item{
                    position: absolute;
                    right: auto;
                    top:auto; 
                    left: auto;
                    bottom: auto;
                    width: auto;
                    height: auto;
                   img{
                    height: 100%;
                    width: 100%;
                   }
                }
            }
        }
       
    }
    #measurements-container{
        height: 100%;
        width: 100%;
        visibility: hidden;
        z-index: 3;
        position: absolute;
        top: 0;
        left: 0;
    }
    #measurements{
     stroke: var(--WETASPHALT);
     stroke-width: 3;
    }
    #measurementsText{
        stroke: var(--SILVER);
        font-size: 20px;
    }
}