header{
    height: 75px;
    background-color: var(--SILVER);
    display: flex;
    justify-self: center;
    align-items: center;
    .logo{
        height: inherit;
        img{
            height: inherit;
            width: auto;
        }
    }
    .title{
        text-align: center;
        flex: 1;
    }
}