$nav-width:75px;
$dropdownMenu-left:$nav-width+3px;

li.c-dropdown {
    position: relative;

    a.c-dropdown-toggle {
        white-space: nowrap;
    }

    div.c-dropdown-menu {
        position: absolute;
        top: 0;
        left: $dropdownMenu-left;
        z-index: 1000;
        display: none;
        min-width: 10rem;
        padding: 0;
        margin: 3px 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        background-color: #fff;
        background-clip: padding-box;

        ul {
            list-style: none;
        }
    }
}

main {
    nav {
        height: 100%;
        width: $nav-width;
        background-color: var(--MIDNIGHTBLUE);

        ul.menu {
            >li {
                padding: 10px;
                border-bottom: 1px solid var(--CLOUDS);

                &:last-child {
                    border-bottom: 0;
                }

                >a {
                    display: block;
                    text-align: center;
                    color: var(--Faded);

                    &:hover {
                        color: var(--CLOUDS);
                    }

                    i {
                        font-size: 38px;
                    }

                    p {
                        margin-top: 10px;
                        font-size: 9px;
                        text-transform: uppercase;
                    }
                }

                div {
                    width: 305px;

                    div.header {
                        $headerHeight: 40px;
                        background-color: var(--MIDNIGHTBLUE);
                        color: var(--Faded);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px;
                        margin-bottom: 1px;

                        h4 {
                            line-height: $headerHeight;
                            margin-bottom: 0;
                            text-transform: uppercase;
                        }

                        i {
                            display: block;
                            width: $headerHeight;
                            text-align: center;
                            font-size: 1.5rem;

                            &:hover {
                                color: var(--CLOUDS);
                                cursor: pointer;
                            }
                        }

                    }

                    div.image-viewer {
                        margin-bottom: 1px;

                        a {
                            display: block;
                            position: relative;
                            height: 100%;
                            width: 100%;
                            img {
                                width: 100%;
                                height: auto;
                            }

                            .overlay {
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                height: 100%;
                                width: 100%;
                                opacity: 0;
                                transition: .3s ease;
                                background-color: rgba($color: #000000, $alpha: 0.5);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                i{
                                    color: var(--Faded);
                                    font-size: 40px;
                                }
                            }

                            &:hover .overlay {
                                opacity: 1;
                            }
                        }
                    }

                    div.footer {
                        background-color: var(--MIDNIGHTBLUE);
                        color: var(--Faded);
                        text-align: center;
                        padding: 10px;
                        margin-top: 1px;

                        p {
                            font-size: 11px;
                            margin-bottom: 0;
                        }
                    }

                    ul {

                        li {
                            border-bottom: 1px solid var(--CLOUDS);

                            &:last-child {
                                border-bottom: 0;
                            }

                            >span {
                                display: flex;
                                text-decoration: none;

                                &:hover {
                                    color: var(--CLOUDS);
                                }

                                a {
                                    z-index: 10;

                                    img {
                                        height: 50px;
                                        width: auto;
                                    }

                                    img:hover {
                                        transform: scale(1.2);
                                    }
                                }

                                input {
                                    position: absolute;
                                    visibility: collapse;

                                    &:checked+label {
                                        background-color: var(--Faded);
                                        color: var(--MIDNIGHTBLUE);
                                    }

                                    // &:checked+label::after {
                                    //     content: "\2713";
                                    // }
                                }

                                label {
                                    position: relative;
                                    display: flex;
                                    align-items: center;
                                    height: 50px;
                                    flex: 1;
                                    white-space: nowrap;
                                    padding: 0 10px;
                                    margin-bottom: 0;
                                    text-transform: uppercase;
                                    background-color: var(--MIDNIGHTBLUE);
                                    color: var(--Faded);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}